<component name="ArtifactManager">
  <artifact type="war" name="springMVC_dome:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springMVC_dome-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMVC_dome:war exploded" />
    </root>
  </artifact>
</component>